.button {
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  position: relative;

  &.type-yellow {
    background: var(--surface-yellow);
    color: var(--white);
  }

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.decor {
  position: absolute;
  bottom: 0;
  right: 0;
}
